* {
	padding: 0;
	margin: 0;

}


.header{
	height: 80vh;
	background-image: url(../image/us.jpg);
	background-size: cover;
	background-position: center;

}
#sidenav{
	width: 250px; 
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	background: rgba(250,88,15,0.5);
	z-index: 2;
	transition: .5s;
}
nav ul li{
	list-style: none;
	margin: 50px 20px;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
#menuBtn{
	width: 30px;
	position: fixed;
	right: 65px;
	top: 35px;
	z-index: 2;
	cursor: pointer;
}
#head1{
	display: flex;
	justify-content: center;
	font-size: 280%;
	margin-top: 3%;
	margin-bottom: 2%;
}
#paraa2{
  max-width: 50%;
  text-align: justify;
	margin: auto;
	font-size: 120%;
	line-height: 30px;
}
.phone{
	margin-top: 8.5%;
	width: 100%;
	height: auto;
}
.midp{
	display: flex;
	justify-content: center;
}
#para3{
        float: left;
        text-align: justify;
        width: 20%;
        padding: 0 20px;
		font-size: 120%;
		line-height: 30px;

}
#para4{
        float: left;
        text-align: justify;
        width: 20%;
        padding: 0 20px;
		font-size: 120%;
		line-height: 30px;
}
#para5{
        float: left;
        text-align: justify;
        width: 20%;
        padding: 0 20px;
		font-size: 120%;
		line-height: 30px;
	
}
.team1{
	margin-top: 1%;
	display: flex;
	justify-content: center;
}
.imgg{
	width: 15%;
	border-radius: 50%;
	float: left;
	margin: 20px;
    padding: 30px;

}
.team2{
	display: flex;
	justify-content: center;
}
.heads{
	margin-top: 4%;
	font-size: 350%;
	display: flex;
	justify-content: center;

}

.footer {
    	margin-top: 5%;
    	background-color: black;
    	width: 100%;
    	height: 500px;
    	
}
.footer-col{
	padding: 50px;
}
  
    .text1 {
    	margin-left: 5%;
    	line-height: 30px;
  
    	color: grey;
    	font-size: 20px;
    }
    .text2 {
    	margin-left: 30%;
    	line-height: 30px;
  	margin-top: -5%;
    	color: grey;
    	font-size: 20px;
    }
    .text3 {
    	line-height: 30px;
    	margin-left: 56%;
    	margin-top: -8.5%;
    	color: grey;
    	font-size: 20px;
    }
    .text4 {
    	line-height: 30px;
    	margin-left: 80%;
    	color: grey;
    	margin-top: -8.5%;
    	font-size: 20px;
    }
    a {
    	text-decoration: none;
    	color: grey;
    	font-size: 15px;
    }
    a:hover {
        color: white;
    }

    p{
    	color: #999;
    	line-height: 25px;
    }
    h2,h3{
    	color: #fff;
    }
    h2{
    	font-size: 18px;
    }
    .footer-top{
    	background: #111;
    	padding: 80px 0;
    }
    .segment-one h3{
    	color: #fff;
    	letter-spacing: 3px;
    	margin: 10px 0;
    }
    .segment-two{
    	color: #fff;
    	text-transform: uppercase;
    }
    .segment-two h2:before{
    	content: '|';
    	color: #c65039;
    	padding-right: 10px;
    }
    .segment-two ul{
    	margin: 0;
    	padding: 0;
    	list-style: none;
    }
    .segment-two ul li{
    	border-bottom: 1px solid rgba(255,255,255,0.3);
    	line-height: 40px;
    }
    .segment-two ul li a{
    	color: orange;
    		text-decoration: none;
    }
    .segment-three h2{
    	color: #fff;
    	text-transform: uppercase;
    }
    .segment-three h2:before{
    	content: '|';
    	color: #c65039;
    	padding-right: 10px;
    }
    .segment-three a{
    	background: #494848;
    	width: 40px;
    	height: 40px;
    	display: inline-block;
    	border-radius: 50%;
    }
    .segment-three a i{
    	font-size: 20px;
    	color: #fff;
    	padding: 10px 12px;
    }

    .segment-four h2{
    	color: #fff;
    	  
    }
        .segment-four h2:before{
    	content: '|';
    	color: #c65039;
    	padding-right: 10px;
    }
  .mimage2{
	position: relative;
	margin-top: 10%;
	opacity: 0.71;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

/*
fixed=parallax
scroll=normal
*/
background-attachment: fixed;
}

.mimage2{
	background-image: url('../image/beach.jpg');
	min-height: 400px;
}

.mtext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 40px;
	letter-spacing: 8px;
	text-transform: uppercase;

}
.mtext .border{
	font-family: futura, sans-serif;
	background-color: 
	color: #111;
	padding: 20px;
}
.mtext .border .trans{
	background-color: transparent;
}
@media (max-width: 568px){
	.mimage2{
		background-attachment: scroll;
	}
}

.border form{
    margin-top: -10%;
}

.border form input{
    font-size: 14px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
    width: 30%;
}
    .border form input[type=submit]{
        background: #c65039;
        border:none;
        padding: 9px 15px;
        margin-top: 5px;
        color: #fff;
        text-transform: uppercase;
    }











